<h1> Goals </h1>
<%= @user.username %>
<br>

<p>Completed Goals: <%= @goals.where(completed: true).size %></p>

<ul>
  <% @goals.each do |goal| %>
    <% if !goal.completed && (current_user == @user || !goal.private) %>
      <li>
        <a href="<%= goal_url(goal) %>"><%= goal.title %></a>
        <% if current_user == @user %>
          -- <%= render 'shared/complete_goal', goal: goal %>
          -- <a href="<%= edit_goal_url(goal) %>">Edit Goal</a>
          -- <%= render 'shared/delete_goal', goal: goal %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<br>
<br>
<% if current_user == @user %>
  <a href="<%= new_goal_url %>">Add Goal</a>
<% end %>

<br>
<br>

<p>Comments<p>
  <% @user.comments.each do |comment| %>
    <p> <%= comment.body %> -- by <%= comment.author.username %></p>
    <br>
  <% end %>
  <br>
  <br>

<p>Add Comment!</p>

<%= render 'shared/comment_form', goal_id: nil, user_id: @user.id %>
