<% if goal.persisted? %>
  <% action, value = edit_goal_url(goal), "patch" %>
<% else %>
  <% action, value = goals_url, "post" %>
<% end %>
<form action="<%= action %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="_method" value="<%= value %>">

  <label>Title
    <input type="text" name="goal[title]" value="<%= goal.title %>">
  </label>

  <br>

  <label>Body
    <textarea name="goal[body]"><%= goal.body %></textarea>
  </label>

  <br>

  <label>Private
    <input
      type="radio"
      name="goal[private]"
      "<%= "selected" if goal.private %>">
    </label>

  <label>Public
    <input
      type="radio"
      name="goal[private]"
      "<%= "selected" unless goal.private %>">
    </label>
  <br>

  <button>Add Goal</button>

</form>
