<h1><%= @goal.title %></h1>

<p><%= @goal.body %></p>

<br>

<a href="<%= edit_goal_url(@goal) %>">Edit Goal</a>

<br>
<br>

<%= render 'shared/delete_goal', goal: @goal %>


<p>Comments<p>
  <% @goal.comments.each do |comment| %>
    <p> <%= comment.body %> -- by <%= comment.author.username %></p>
    <br>
  <% end %>
  <br>
  <br>

<p>Add Comment!</p>

<%= render 'shared/comment_form', goal_id: @goal.id %>
